__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
venv/
env/
.venv/
.env/
.env
.env.*
*.key
*.pem
*.crt
*.log
logs/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
.ipynb_checkpoints/
*.ipynb

build/
dist/
.cache/
.pytest_cache/

output/
outputs/
*.pdf

__docker_cache__/
